@import "https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald";



html{
    background-color: #F3D8D1;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cardo', serif;
    background-color: #F6F5F0;
    font-size: 1.2rem;
   }
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

a:hover{
    animation-duration: 0.5s;
    animation-name: linkpop;
    animation-timing-function: ease-in-out;
    position:relative;

}

@keyframes linkpop {
    from, to{
        font-size: 1.2rem;
    }
    50%{
        font-size: 1.3rem;
    }
}

#logo {
    animation-duration: 3s;
    animation-name: slidein;
    position:relative;
    
    padding-left: 2rem;
    padding-top: 2rem;
    width: 3rem;
    height: 3rem;
}

img:hover{
    cursor: pointer;
}

@keyframes slidein {
    from {
        bottom: 0rem;
        right: 0rem;
    }
    
    35% {
        bottom: 1rem;
        right: 1rem;
        transform: rotate(0deg);
    }
    45% {
        bottom: 1rem;
        right: 1rem;
        transform-origin: 3rem 3rem;
        transform: rotate(-25deg);
    }
    55% {
        bottom: 1rem;
        right: 1rem;
        transform-origin: 3rem 3rem;
        transform: rotate(-25deg);
    }
    65% {
        bottom: 1rem;
        right: 1rem;
        transform: rotate(0deg);
    }
    
    to {
        bottom: 0rem;
        right: 0rem;
    }
  }

nav{
    position: fixed;
    right: 0px;
    width: auto;
    height: auto;
    border-radius: 2rem 0rem 0rem 2rem;
    background-color: #F0E4D7;
    padding: 0.3rem;
    opacity: 80%;
    padding-left: 1rem;

    
}
header{
    padding-bottom: 0.5rem;
    background-color: #F3D8D1;
}
nav a{
    color: #3F3931;
}
#current-page{
    pointer-events: none;
}

footer{
    padding-top: 0.5rem;
    background-color: #F3D8D1;
    text-align: center;
}

footer a{
    color: #3F3931;
}

button {
    background-color: #0F4C81; /* Green */
    border: 0rem;
    color: white;
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0rem 1rem 0rem 1rem;
  }

.mapouter{
    width: 50%;
}

#ticket-confirm-button{
    background-color: #76AF7B; /* Green */
    border: 0rem;
    color: white;
    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1rem 0rem 1rem 0rem;
}

center{
    margin-left: auto;
    margin-right: auto;
}